{% extends 'base.html.twig' %}

 {% block body %}
<!-- Page Content -->
<div class="container">

    <!-- Page Header -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Project Tagada
                <small>Meilleurs projets</small>
            </h1>
        </div>
    </div>
    <!-- /.row -->

    <!-- Projects Row -->
    <div id="project">
        <!--<% var i;
        for i in projectToSee{ %-->

        <!-- <div class="col-md-3 portfolio-item">
            <a href="#">
                <img class="img-responsive" src="http://placehold.it/700x400" alt="">
            </a>
            <h3 id="project_name">
            </h3>
            <p id="project_description"></p>
        </div> -->
        <script>
            for (i = 0; i < 9; i++)
            {
                var titleProject = "mon bô projet " + i;
                var descrProject = "ceci est ma description du projet " +i;
                $("#project").append("<div class=\"col-md-4 portfolio-item\"><a href=\"#\"><img class=\"img-responsive\" src=\"http://placehold.it/700x400\" alt=\"\"></a><h3><a href=\"#\">" + titleProject + "</a></h3><p>" + descrProject + "</p></div>");

                /*document.getElementById('project_name').innerHTML = titleProject;*/
                /*document.getElementById('project_description').innerHTML = descrProject;
                 */
            }
        </script>

        <!-- /.row -->
        <hr>

        <!-- Pagination -->
        <div class="row text-center">
            <div class="col-lg-12">
                <ul class="pagination">
                    <li>
                        <a href="#">&laquo;</a>
                    </li>
                    <li class="active">
                        <a href="#">1</a>
                    </li>
                    <li>
                        <a href="#">2</a>
                    </li>
                    <li>
                        <a href="#">3</a>
                    </li>
                    <li>
                        <a href="#">4</a>
                    </li>
                    <li>
                        <a href="#">5</a>
                    </li>
                    <li>
                        <a href="#">&raquo;</a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- /.row -->
 {% endblock %}
