{% extends 'base.html.twig' %}

{% block body %}
    <!-- Page Content-->
    <div class="container">
      <!-- Page Header-->
      <div class="row">
        <div class="col-lg-12">
          <h1 class="page-header">Bienvenue sur le site Project Tagada<small>Accueil du site</small></h1>
        </div>
      </div>
        <div class="row">
        <div class="col-lg-12">
          <ul id="slides" class="swiper-wrapper">
             {% for project in projectlist%}
            <li>
                <a href="{{ path('_projects', {'id': project.id}) }}">
                    {{ project.name }}
                </a>
                par {{ project.owner.firstname }},
                le {{ project.created|date('d/m/Y') }}
            </li>
             {% endfor %}
          </ul>
        </div>
      </div>
    </div>
    {% endblock %}


